/*My first crack at CSS WOOOOOOOOOO*/

/*
.special{
    color: orange;
    font-weight: bold;
}
*/

h1{
    color:blue;
    font-weight:lighter;
    font-style:italic;
    font-weight:bolder;
}

h2{
    color:cornflowerblue;
    font-weight: lighter;
    font-style:normal;
    font-weight:900;
}

footer, header{
    color:rgb(200, 10, 10);
}

.special{
    color: #13ffd8fa;
    font-style:italic;
}

.important{
    color: hsl(32, 100, 45);
}

.box{
    background-color:#333D3D;
    border:double;
    border-radius:5em;
    border-width:1em;
    color:white;
    margin-left:1in;
    margin-right:1in;
}

.caption{
    color:white;
    font-style: italic;
    width:50%;
    margin-left:25%;
}

.recording{
    margin-top:1%;
    
}

.video{
    margin-bottom:10px;
    padding-top: 1in
}

#main{
    width: 450px;
    margin:auto;
    margin-bottom:2%;
    padding: 1px 10% 1% 5%;
    border: 5px solid grey;
    border-style:double;
    
}

#icecream{
    margin: 1em 1em 0em 2em;
    padding-right: 4em
}

